@import "variables";

@mixin label1 {
  font-family: Sen;
  font-size: 11.7rem;
  line-height: 14.1rem;
}

@mixin h1 {
  font-family: Sen;
  font-size: 7.8rem;
  font-weight: bold;
  line-height: 9.4rem;
  @media screen and (max-width: 768px) {
    @include h2()
  }
}

@mixin h2 {
  font-family: Sen;
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 6.6rem;
}

@mixin h3 {
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 150%;
}

@mixin h4 {
  font-family: Sen;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 150%;
}

@mixin h5 {
  font-family: Sen;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 150%;
}

@mixin body1 {
  font-family: Sen;
  font-size: 1.8rem;
  line-height: 155%;
}

@mixin body2 {
  font-family: Sen;
  font-size: 1.6rem;
  line-height: 150%;
}

@mixin overline {
  font-family: Sen;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 150%;
}

@mixin buttonText {
  font-family: Sen;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 150%;
}

@mixin wrapper {
  max-width: 144rem;
  padding-left: 7.2rem;
  padding-right: 7.2rem;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media screen and (max-width: 650px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@mixin smallButtonStyle($textColor, $underlineColor, $hoverTextColor) {
  position: relative;
  @include body2();
  padding: 0;
  color: $textColor;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  &:after {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 1px;
    content: "";
    background-color: $underlineColor;
    transition: 0.3s ease all;
  }
  &:hover {
    color: $hoverTextColor;

    &:after {
      bottom: -3px;
      height: 24px;
    }
  }
}

@mixin regularButtonStyle {
  @include buttonText();
  color: $text;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px $primary;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease background-color;
  &:hover {
    background-color: $primary;
  }
  &.active {
    background-color: $primary;
  }
}

@mixin heading_mobile {
  font-family: Sen;
  font-size: 3.2rem;
  line-height: 3.6rem;
}
