$base: #000;
$level1: #181823;
$light_gray: #8491A0;
$dark_gray: #5B6876;
$text: #fff;
$primary: #5221E6;
$green_accent: #3CC74E;
$pink_accent: #E05D90;
$blue_accent: #609BFF;
$peach_accent: #FFF3E4;
$violent_accent: #FBE4FF;
