@import "src/styles/variables";
@import "src/styles/mixins";

.companies {
  display: flex;
  .company {
    display: flex;
    height: 14rem;
    width: 34rem;
    align-items: center;
    justify-content: center;
    border: 1px solid $level1;
  }
}
@media screen and (max-width: 768px) {
  .companies {
    flex-wrap: wrap;
    .company {
      flex: 1 1 auto;
    }
  }
}
