@import "src/styles/variables";
@import "src/styles/mixins";


.instagram {

  .instagram__wrapper {
    @include wrapper();
    width: 100%;
    display: flex;
    padding: 0;
    .text {
      flex: 1 1 50%;
      padding: 12rem 7.2rem 12.4rem;
      background-color: $violent_accent;

      .title {
        @include h2();
        color: $level1;
      }

      .description {
        margin-top: 2.4rem;
        @include body1();
        color: $dark_gray;

      }

      .button {
        @include smallButtonStyle($level1, $light_gray, $text);
        margin-top: 13.4rem;
      }
    }

    .img {
      flex: 1 1 50%;
      max-width: 50%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 857px) {
  .instagram {

    .instagram__wrapper {
      padding: 0;
      .text {
        padding: 8rem 4rem;
      }
    }
  }
}
@media screen and (max-width: 732px) {
  .instagram {
    .instagram__wrapper {
      flex-direction: column;
      .text {
        flex: 1 1 50%;
      }
      .img {
        flex: 1 1 50%;
        min-width: 100%;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .instagram {
    .instagram__wrapper {
      .text {
        padding: 4.8rem 2rem 5.2rem;
        .title {
          @include heading_mobile();
        }
      }
    }
  }
}
