@import "src/styles/variables";
@import "src/styles/mixins";


.philosophy {

  .philosophy__wrapper {
    @include wrapper();
    width: 100%;
    height: 60rem;
    display: flex;

    .text {
      flex: 1 1 50%;
      padding: 12rem 7.2rem;
      background-color: $peach_accent;

      .title {
        @include h2();
        color: $level1;
      }

      .description {
        margin-top: 2.4rem;
        @include body1();
        color: $dark_gray;
        margin-bottom: 13.4rem;
      }

      .button {
        @include smallButtonStyle();
      }
    }

    .img {
      flex: 1 1 50%;
    }
  }
}
