@import "src/styles/variables";
@import "src/styles/mixins";

.photography {
  display: flex;

  .photography__wrapper {
    width: 100%;
    padding: 12rem 7.2rem 12rem;
    @include wrapper();
    .title {
      @include h2();
      color: $text;
    }
    .text {
      @include body1();
      margin-top: 2.4rem;
      color: $light_gray;
      max-width: 55.8rem;
    }
    .buttons {
      margin-top: 6.2rem;
      display: flex;

      .button {
        @include regularButtonStyle();
        padding: 1.2rem 1.6rem;
        margin-right: 2.4rem;
      }
    }
    .images {
      margin-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2.4rem;
      > img {
        height: 42rem;
        object-fit: cover;
        flex: 1 0 auto;
        transition: 0.3s ease transform;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .photography {
    .photography__wrapper {
      padding-top: 8rem;
      padding-bottom: 8rem;
      .text {
        max-width: 100%;
      }
      .images {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .photography {
    .photography__wrapper {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
      flex-direction: column;
      .title {
        @include heading_mobile();
      }
      .buttons {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.2rem;
        margin-right: -1.2rem;

        .button {
          flex: 1 1;
          max-width: 14.8rem;
          margin: 1.2rem;
          //&:nth-child(2n-1) {
          //  margin-right: 2.4rem;
          //}
        }
      }
    }
  }
}
