@import "src/styles/variables";
@import "src/styles/mixins";

.testimonials {
  display: flex;

  .testimonials__wrapper {
    width: 100%;
    padding: 12rem 7.2rem;
    @include wrapper();
    display: flex;
    justify-content: space-between;
    .description {
      flex: 0 1 58.8rem;
      margin-right: 2.4rem;
      .title {
        @include h2();
        color: $text;
      }
      .text {
        margin-top: 2.4rem;
        @include body1();
        color: $light_gray;
      }
      .button {
        margin-top: 4rem;
        @include smallButtonStyle();
        color: $text;
      }
    }
    .testimonials {
      flex: 0 1 63.6rem;
      display: flex;
      flex-flow: column wrap;
      .testimonial {
        margin-bottom: 12rem;
        .image {
          display: block;
        }
        .inner {
          padding: 6.4rem;
          border: 1px solid #5B6876;
          .text {
            @include h3();
            color: $text;
          }

          .name {
            margin-top: 6.4rem;
            @include h4();
            color: $dark_gray;
          }

          .position {
            margin-top: .4rem;
            @include body1();
            color: $dark_gray;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:not(:first-child) {
          .text {
            line-height: 120%;
          }
        }
      }
    }
  }
}
