@import "src/styles/variables";
@import "src/styles/mixins";

.testimonials {
  display: flex;

  .testimonials__wrapper {
    width: 100%;
    padding: 12rem 7.2rem;
    @include wrapper();
    display: flex;
    justify-content: space-between;
    .description {
      flex: 0 1 50%;
      margin-right: 2.4rem;
      padding-right: 4.8rem;
      .title {
        @include h2();
        color: $text;
      }
      .text {
        margin-top: 2.4rem;
        @include body1();
        color: $light_gray;
      }
      .button {
        margin-top: 4rem;
        @include smallButtonStyle($text, $light_gray, $text);
      }
    }
    .testimonials {
      flex: 0 1 50%;
      display: flex;
      flex-flow: column wrap;
      .testimonial {
        margin-bottom: 12rem;
        .image {
          height: 36rem;
          object-fit: cover;
          display: block;
        }
        .inner {
          padding: 6.4rem 6.4rem 6.2rem;
          border: 1px solid #5B6876;
          .text {
            @include h3();
            color: $text;
          }

          .name {
            margin-top: 6.4rem;
            @include h4();
            color: $dark_gray;
          }

          .position {
            margin-top: .4rem;
            @include body1();
            color: $dark_gray;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:not(:first-child) {
          .text {
            line-height: 121%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .testimonials {
    .testimonials__wrapper {
      padding-top: 8rem;
      padding-bottom: 8rem;
      .description {
        flex: 1 1 50%;
        margin-right: 2.4rem;
      }
      .testimonials {
        flex: 1 1 50%;
        .testimonial {
          margin-bottom: 6.4rem;
          .inner {
            padding: 3.2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .testimonials {
    .testimonials__wrapper {
      padding-top: 4.8rem;
      padding-bottom: 4.8rem;
      flex-direction: column;
      .description {
        margin-bottom: 6.4rem;
        margin-right: 0;
        padding-right: 0;
        .title {
          @include heading_mobile();
        }
      }
      .testimonials {
        .testimonial {
          margin-bottom: 4.8rem;
        }
      }
    }
  }
}
